
{{#section 'head'}}
  <link rel="stylesheet" href="/css/calendar.css">
  <script src="/js/calendar.js"></script>
{{/section}}

{{#> layout }}

{{> burger}}

  <div class="burger">
    <img src="/imgs/icon/handleliste-burger-large.png" alt="burgermenu">
  </div>

  <div class="container">
    <div class="calendar-title">
      <p id="title">Planleggeren</p>
    </div>

    <hr>


    <div class="calendar-text">
      <p class="text" id="text1">Velg en dag å planlegge</p>
      <p class="text" id="text2">handelen på!</p>
    </div>

    <div class="calendar-container">
      <div class="date-containar">
        <div class="pointer" id="previous-pointer" data-month={{month}}>&#10094;</div>
        <div class="date-head">
          <p>{{#month_name month}}{{this}}{{/month_name}} 2018</p><!--Sett in dato her-->
        </div>
        <div class="pointer" id="next-pointer" data-month={{month}}>&#10095;</div>
        </div>

        <div class = "cal">

          <div class="week-label">Uke</div>

          <div class = "weeks">
            {{#weeks 2018 month}}
             <div>{{this}}</div>
             {{/weeks}}
          </div>


          <div class = "weekdays">
            <div>Man</div>
            <div>Tir</div>
            <div>Ons</div>
            <div>Tor</div>
            <div>Fre</div>
            <div>Lør</div>
            <div>Søn</div>
          </div>

          <div class = "date">
            {{!-- Takes in year and month --}}
            {{#calendar 2018 month}}
              <div data-month={{../month}} data-day="{{this.day}}" class="active calendar-btn{{#condition this.day '==' ../today}} today{{/condition}}{{#contains ../shoppinglistdates this.date}} has-list{{/contains}}">{{this.day}}</div>
            {{/calendar}}
          </div>
        </div>
    </div>


    {{/layout}}
