{{#> layout }}
  <h1>{{title}}</h1>
  {{> button}}
  <ul>
    {{#each count}}
      <li>
        {{this}}
      </li>
    {{/each}}
  </ul>

  <div>
    <p>{{person.fname}}</p>
    <p>{{person.lname}}</p>
    <p>{{person.nick}}</p>
  </div>

  <div>
    {{#each person}}
      <p>{{this}}</p>
    {{/each}}
  </div>
{{/layout}}
