
{{#section 'head'}}
{{!-- Tillfällig lösning för att ta static files --}}
  <script src="/js/week.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/css/week.css">
{{/section}}

{{#> layout }}

  {{> headerplanner}}

  <div class="content">
    <div class="week-container">
      <div class="week-header">
        <div class="week-datename">{{#month_name month}}{{this}}{{/month_name}} 2018</div>
        <div class="week-days">
          <ul>
            <h3 class="this-week">Uke</h3>
            {{#each daysstring}}
              <li>{{this}}</li>
            {{/each}}
            <h3 class="this-week">{{uke_num}}</h3>
            {{#each days_arr}}
              {{#condition this '==' ../chosen_day}}
                <li class="font-yellow" style="color: red" >{{this}}</li>
              {{/condition}}
              {{#condition this '!=' ../chosen_day}}
                <li class="font-aubergine btn-week-day" data-month="{{../month}}">{{this}}</li>
              {{/condition}}
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="week-list">
        <div class="list-item">
          {{#each daysstring}}
            <li id="vare">{{this}}</li>
          {{/each}}
        </div>
        <div class="item-button">
          <img id="button" src="/imgs/icon/Varer.png" alt="">
        </div>
      </div>
    </div>
  </div>
  {{> categories}}

{{/layout}}
